[submodule "approximate_comparator"]
	path = tests/approximate_comparator
	url = https://caiw@github.com/caiw/approximate_comparator.git
[submodule "ldm"]
	path = ldm
	url = git@github.com:emcoglab/ldm-core.git
[submodule "sensorimotor_norms"]
	path = sensorimotor_norms
	url = git@github.com:emcoglab/sensorimotor-norms.git
[submodule "prevalence"]
	path = prevalence
	url = git@github.com:emcoglab/brysbaert-prevalence.git
